<launch>
  <arg name="server" default="10.205.3.3"/>
  <arg name="number_of_nodes" default="2"/>
  <arg name="base_id" default="0"/>
  <arg name="ip" default="10.205.3.224"/>
  <arg name="base_port" default="9876"/>
  <arg name="rate" default="1.0"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="optitrack" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      update_frequency: 120.0
      frame_id: world
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
  </node>
  
  <node pkg="optitrack_ros_communication" type="generate_udp_nodes.py" name="generate_udp_nodes" output="screen">
    <param name="number_of_nodes" value="$(arg number_of_nodes)" />
    <param name="base_id" value="$(arg base_id)" />
    <param name="ip" value="$(arg ip)" />
    <param name="base_port" value="$(arg base_port)" />
  </node>

</launch>
